{% extends "base.html" %}
{% block title %}
<h2>Create User</h2>
{% endblock %}

{% block content %}
<p>User the below form to create a new user:</p>
<div id="create_user" class="form-align col-lg-6">
    <p>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
    </p>
    <a href="javascript:create_user();" type="button" class="btn btn-primary" id="create_user_button_submit">Create</a>
</div>
{% endblock %}
