{% extends "base.html" %}
{% block title %}
<h2>Home</h2>
{% endblock %}
{% block content %}
<p>The purpose of this site is to learn about the concepts of machine learning, and to build a proof-of-concept, second authentication factor by analyzing the manner that a user types their password in. This means that an attacker would not only have to obtain the user's credential to sign in, and they would also have to mimic how they type their password as well.</p>
<p>Currently, this project only aims to support desktop keyboards, on major browsers. However, support for multiple login profiles could be developed to mimic how a user types on both their mobile device and keyboard.</p>
<p>All code is available to view on my public github: <a href="https://github.com/sjrumsby/machine-learning-passwords">https://github.com/sjrumsby/machine-learning-passwords</a>. Should you encounter any bugs, want to request features, or just want to get in touch, please contact me there.</p>
{% endblock %}
