{% extends "base.html" %}

{% block content %}
<h2>View Users</h2>
<p>This page contains a list of all users that have registered a username and password, and have trained the algorithm to respond to their own typing patterns. To test the AI, try to log in as the with the username and password <a href="/login">here</a>.</p>
<br />
<table id="users" class="table table-striped table-bordered display" cellspacing="0">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Status</th>
            <th>Links</th>
        </tr>
    </thead>
</table>
{% endblock %}
