{% extends "base.html" %}
{% block title %}
<h2>Test User Select</h2>
{% endblock %}
{% block content %}
<div class="form-align">
{% if users|length > 0 %}
    <p>Select a user to test:</p>
    <p>
        <label for="testSelect">Username</label>
        <select id="testSelect" name="testSelect">
        {% for u in users %}
            <option value="{{u.id}}">{{u.username}}</option>
        {% endfor %}
        </select>
    </p>
    <a href="javascript:test_user();" type="button" class="btn btn-primary" id="test_user_button">Test</a>
{% else %}
    <p>There are no users available to test. Try <a href="/train">training</a> one first.</p>
{% endif %}
</div>
{% endblock %}

