#message {
    display: none;
}

div.page-header {
    margin: 0px;;
    padding-bottom: 0px;
    border-bottom: 0px;
    background-color: #0269c2;
}

div.page-header h1, div.page-header h2 {
    color: white;
}

header.navbar {
    margin-bottom: 0px;
}

.form-align p > label:first-child {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    padding-right: 15px;
    text-align: right;
    width:150px;
}
